@model IEnumerable<CCSD_Job_Search.Models.Job>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobCategory)
            </th>
      
            <th>
                @Html.DisplayNameFor(model => model.JobFamily)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClassCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobFamily)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.Classification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TermsOfEmployment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FLSAStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PositionSummary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EssentialDutiesAndResponsibilities)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistinguishingCharacteristics)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KnowledgeSkillsandAbilities)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PositionRequirements)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentsRequiredAtTimeOfApplication)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExamplesOfAssignedWorkAreas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExamplesOfEquipmentSupplies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkEnvironment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td> *@
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
